ol,
ul {
  padding-left: 30px;
}

.upper-hints {
  display: grid;
  align-self: flex-end;
  align-items: flex-end;
  -webkit-box-pack: end;
  justify-content: end;
  grid-auto-flow: column;
  margin-bottom: 20px;
}

.hint-col {
  display: grid;
  justify-items: center;
  width: 77px;
  grid-gap: 20px;
}

.hint {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: color 0.2s ease 0s;
}

.crossout {
  color: #666;
}

.lower-board {
  display: flex;
}

.left-hints {
  display: grid;
  justify-items: end;
  margin-right: 20px;
}

.hint-row {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
}

.game-board {
  display: grid;
  background-color: #ccc;
  border-radius: 10px;
  padding: 3px;
  width: auto;
  height: 30%;
}

.board-row {
  display: grid;
  grid-auto-flow: column;
}

.status {
  margin-bottom: 10px;
}

.square {
  position: relative;
  display: flex;
  color: #f44336;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-width: 3px;
  border-radius: 6px;
  margin: 3px;
  float: left;
  height: 70px;
  width: 70px;
  cursor: pointer;
  transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
}

.square .material-icons {
  transform: scale(0);
  transition: transform 0.2s ease 0s;
}

.square::after {
  transform: scale(0);
}

.square-empty {
  background-color: #fff;
}

.square-marked {
  background-color: #ccc;
  color: #f44336;
}

.square-marked .material-icons {
  font-size: 70px;
  transform: scale(1);
  transition: transform 0.2s ease 0s;
}

.square-filled {
  background-color: #353235;
}

@keyframes blink {
  from  { box-shadow: 0 0 0 8px #1a7acd;}
  to    { box-shadow: 0 0 0 8px #40ffdd;}
}

.square-empty:hover, .square-filled:hover {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;
  cursor: pointer;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.game-info {
  margin-right: 20px;
}
